services:
  qdrant:
    image: qdrant/qdrant:v1.11.0
    container_name: qdrant
    ports:
      - "${QDRANT_PORT}:${QDRANT_PORT}"
    volumes:
      - ./.qdrant_storage:/qdrant/storage
    networks:
      - network

  qdrant-init:
    build:
      context: ./qdrant
      dockerfile: Dockerfile
    container_name: qdrant-init
    depends_on:
      - qdrant
    networks:
      - network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    environment:
      - PYTHONUNBUFFERED=1
      - QDRANT_URL=http://qdrant:${QDRANT_PORT}
      - PORT=${SERVER_PORT}
    volumes:
      - ./server:/app
    depends_on:
      - qdrant
    networks:
      - network
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    environment:
      - NODE_ENV=development
      - PORT=${CLIENT_PORT}
    volumes:
      - ./client:/usr/src/app/client
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    depends_on:
      - server
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  qdrant_data: