services:
  qdrant:
    image: qdrant/qdrant:v1.16.1
    container_name: qdrant
    expose:
      - "${QDRANT_PORT}"
    volumes:
      - qdrant_data:/qdrant/storage 
    networks:
      - network
    restart: unless-stopped 

  qdrant-init:
    build:
      context: ./qdrant
      dockerfile: Dockerfile
    container_name: qdrant-init
    depends_on:
      qdrant:
        condition: service_started
    networks:
      - network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    env_file:
      - ./server/.env
    environment:
      - PYTHONUNBUFFERED=1
      - QDRANT_URL=http://qdrant:${QDRANT_PORT}
      - SERVER_PORT=${SERVER_PORT}
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "${SERVER_PORT}", "--workers", "4"]
    depends_on:
      - qdrant
    networks:
      - network
    restart: unless-stopped

  webscraper:
    build:
      context: ./webscraper
      dockerfile: Dockerfile
    container_name: webscraper
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=${SCRAPER_PORT}
      - SERVER_URL=http://server:${SERVER_PORT}
    depends_on:
      - qdrant
      - server
    networks:
      - network
    restart: no

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    container_name: client
    environment:
      - NODE_ENV=production
      - PORT=${CLIENT_PORT}
    ports:
      - "${CLIENT_PORT}:80"
    depends_on:
      - server
    networks:
      - network
    restart: unless-stopped

  telegram:
    build:
      context: ./telegram_bot
      dockerfile: Dockerfile
    container_name: telegram
    environment:
      - PORT=${TELEGRAM_PORT}
    depends_on:
      - server
    networks:
      - network
    restart: unless-stopped


networks:
  network:
    driver: bridge

volumes:
  qdrant_data:
    external: false