services:
  qdrant:
    image: qdrant/qdrant:v1.11.0
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./.qdrant_storage:/qdrant/storage
    networks:
      - network

  qdrant-init:
    build:
      context: ./qdrant
      dockerfile: Dockerfile
    container_name: qdrant-init
    depends_on:
      - qdrant
    networks:
      - network

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server
    environment:
      - PYTHONUNBUFFERED=1
      - QDRANT_URL=http://qdrant:6333
      - PORT=55555
    volumes:
      - ./server:/app
    depends_on:
      - qdrant
    networks:
      - network
    ports:
      - "55555:55555"

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: client
    environment:
      - NODE_ENV=development
      - PORT=8080
    volumes:
      - ./client:/usr/src/app/client
    ports:
      - "8080:8080"
    depends_on:
      - server
    networks:
      - network

networks:
  network:
    driver: bridge

volumes:
  qdrant_data: